@model IEnumerable<SistemaEscolar.Models.Aluno>;
@{
  Layout = "~/Views/Shared/_ListarLayout.cshtml";
  ViewBag.Title = "Alunos";
}

@section CSS {
  <link rel="stylesheet" href="/css/listaAlunos.css">
}

@foreach (var aluno in Model)
{
  <a href="@ViewBag.UrlBase/aluno/editar/@aluno.IdAluno" class="list-link">@aluno.Nome</a>
}

@if (Model.Count() == 0)
{
  <p style="text-align: center">Nenhum aluno foi cadastrado ainda!</p>
}

@section Buttons {
  <a href="@ViewBag.UrlBase/aluno/cadastrar" class="btn btn-primary">CADASTRAR NOVO ALUNO</a>
}
