@model IEnumerable<SistemaEscolar.Models.Professor>;
@{
  Layout = "~/Views/Shared/_ListarLayout.cshtml";
  ViewBag.Title = "Professores";
}

@section CSS {
  <link rel="stylesheet" href="/css/listaProfessores.css">
}

@foreach (var professor in Model)
{
  <a href="/professor/editar/@professor.UsuarioId" class="list-link">@professor.Nome</a>
}

@if (Model.Count() == 0) {
    <p style="text-align: center">Nenhum professor foi cadastrado ainda!</p>
}
