@model SistemaEscolar.Models.Municipio;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS {
    <link rel="stylesheet" href="/css/listaAlunos.css">
}

<div class="content-box">
    <!-- Search -->
    <div class="row g-2 align-items-center mb-4">
        <div class="col-12 col-md-2">
            <label for="search" class="form-label fw-bold text-white">Pesquisa:</label>
        </div>
        <div class="col-12 col-md-10 d-flex align-items-center">
            <input type="text" class="form-control w-100" id="search" placeholder="Digite o nome...">
            <span class="search-icon-outside">🔍</span>
        </div>
    </div>

    <!-- Title -->
    <h5 class="text-center fw-bold mb-3">Escolas em @ViewBag.Title</h5>

    <!-- A listagem dos dados vem aqui -->
    @foreach (var escola in Model.Escolas)
    {
        <a href="/municipio/@Model.IdMunicipio/escola/@escola.IdEscola/aluno" class="list-link">@escola.Nome</a>
    }
</div>