@{
  Layout="~/Views/Shared/_Layout.cshtml";
}

@section CSS {
  <link rel="stylesheet" href="/css/login.css">
}

<div class="container" style="flex-direction: column; color: white">
    <h1>Ocorreu um erro ao carregar a página >_<</h1>
    <p style="font-size: 20px">Volte para a <a style="text-decoration: none; color: white; text-decoration-line: underline" href="/">página inicial</a></p>
</div>