@{
  Layout="~/Views/Shared/_Layout.cshtml";
}

@section CSS {
  <link rel="stylesheet" href="/css/login.css">
}

<div class="login-container">
  <div class="login-title">Login</div>
  <div class="login-subtitle">Entre na sua conta</div>
  <form action="/login" method="post">
    <input type="email" name="email" class="form-control" placeholder="Insira o email" required>
    <input type="password" name="password" class="form-control" placeholder="Insira a senha" required>
    <input type="submit" class="btn btn-login w-100" value="Login">
  </form>
</div>

@section Scripts {
  <script src="/js/login.js"></script>
}
