@{
  Layout="~/Views/Shared/_Layout.cshtml";
}

@section CSS {
  <link rel="stylesheet" href="/css/login.css">
}

<div class="login-container">
  <div class="login-title">Login</div>
  <div class="login-subtitle">Entre na sua conta</div>
  <form>
    <input type="email" class="form-control" placeholder="Insira o email" required>
    <input type="password" class="form-control" placeholder="Insira a senha" required>
    <button type="submit" class="btn btn-login w-100">Login</button>
    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
  </form>
</div>

@section Scripts {
  <script src="/js/login.js"></script>
}
