@{
  Layout="~/Views/Shared/_Layout.cshtml";
}

@section CSS {
  <link rel="stylesheet" href="/css/login.css">
}

<div class="login-container">
  @if (ViewBag.Message != null)
  {
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p style="text-align: center; margin: 0 !important">@ViewBag.Message</p>
    </div>
  }

  <div class="login-title">Login</div>
  <div class="login-subtitle">Entre na sua conta</div>
  <form action="/login" method="post">
    <input type="email" name="email" class="form-control" placeholder="Insira o email" required>
    <input type="password" name="password" class="form-control" placeholder="Insira a senha" required>
    <input type="submit" class="btn btn-login w-100" value="Login">
  </form>
</div>

@section Scripts {
  <script src="/js/login.js"></script>
}
