@model SistemaEscolar.Models.Diretor;
@{
  Layout = "~/Views/Shared/_ListarLayout.cshtml";
  ViewBag.Title = "Diretor";
}

@section CSS {
  <link rel="stylesheet" href="/css/listaDiretor.css">
}

@if (Model == null) {
    <p style="text-align: center">Nenhum diretor foi designado ainda! Você pode cadastrar um novo diretor ou designar algum já cadastrado</p>
}
else {
    <a href="@ViewBag.UrlBase/diretor/editar/@Model.UsuarioId" class="list-link">@Model.Nome</a>
}

@section Buttons {
  <a href="/municipio/@ViewBag.Escola.MunicipioId/escola/@ViewBag.Escola.IdEscola/diretor/cadastrar" class="btn btn-info">CADASTRAR NOVO DIRETOR</a>
  <a href="/municipio/@ViewBag.Escola.MunicipioId/escola/@ViewBag.Escola.IdEscola/diretor/designar" class="btn btn-success">DESIGNAR DIRETOR</a>
}