@model IEnumerable<SistemaEscolar.Models.Diretor>;
@{
  Layout = "~/Views/Shared/_ListarLayout.cshtml";
  ViewBag.Title = "Diretor";
}

@section CSS {
  <link rel="stylesheet" href="/css/listaDiretor.css">
}

@foreach (var diretor in Model)
{
  <a href="/diretor/editar/@diretor.UsuarioId" class="list-link">@diretor.Nome</a>
}

@if (Model.Count() == 0) {
    <p style="text-align: center">Nenhum diretor foi cadastrado ainda!</p>
}