@model SistemaEscolar.Models.Diretor;
@{
  Layout = "~/Views/Shared/_ListarLayout.cshtml";
  ViewBag.Title = "Diretor";
}

@section CSS {
  <link rel="stylesheet" href="/css/listaDiretor.css">
}

@if (Model == null) {
    <p style="text-align: center">Nenhum diretor foi designado ainda! Você pode cadastrar um novo diretor ou designar algum já cadastrado</p>
}
else {
    <a href="@ViewBag.UrlBase/diretor/editar/@Model.UsuarioId" class="list-link">@Model.Nome</a>
}